.about__wrapper {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  img {
    box-shadow: -5px 5px 0 lighten($rouge, 30%),
    -10px 10px 0 lighten($rouge, 20%);
  }

  .images {
    min-width: 500px;
  }

  .content {
    margin-left: $indent;

    p:first-child {
      margin-top: 0;
    }
  }
}