//
// Nav : Page Navigation
//

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  max-width: $wrapper__max-width;
  padding: 0 0 10px;

  .home & {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px auto 0;

    h1, h2 {
      margin: 0;
      color: white;
    }
  }

  @media(min-width: $screen__l){
    margin: 0 auto 30px;
    padding: 0;

    .home & {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}