

.page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  @media(min-width: $screen__s){
    width: 80%;
  }

  h1, h2 {
    margin: 0;
  }

  .home & {
    flex-wrap: wrap;
    margin-top: $indent;

    h1, h2 {
      color: white;
    }
  }
}

.nav__button {
  padding: $indent*2 $indent $indent;
  background: white;
  text-transform: uppercase;
  color: $gray;
  text-decoration: none;
  position: relative;
  transition: .5s;
  margin-left: $indent;
  text-align: center;

  // Add Hover Gradient Effect
  &:hover,
  &:focus{
    &:before {
      display: block;
      content:'';
      position:absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
      mix-blend-mode: screen;
      animation: full-width 1s 1 forwards;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
    }
  }

  &:focus {
    outline: dotted $color-theme-2 3px;
  }
}
