.nav {
  &__container {
    display: grid;
    min-height: 400px;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  &__item {
    padding: $indent;
    box-sizing: border-box;
    color: $black;
    text-decoration: none;
    position: relative;
    transition: .8s;

    // For the Gradient Hover Effect
    background-size: 200%;
    background-position: center left;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 5px;
      background: black;
      transition: .5s;
    }

    &:hover {
      background-position: center right;
      &:after {
        width: 100%;
      }
    }

    &:focus{
      outline: 0;
    }

    &:hover,
    &:focus {
      &:after {
        width: 100%;
      }
    }

    &.current {
      background-color: $mint;
      background-image: linear-gradient(60deg, $mint 15%, $pink 100%);

      @media (min-width: $screen__l) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
    
    &.background {
      background-color: $beige;
      background-image: linear-gradient(10deg, $beige 10%, $rouge 100%);

      @media (min-width:589px) and (max-width: $screen__s) {
        grid-column: span 2;
      }

      @media (min-width: $screen__l) {
        grid-row: span 2;
      }
      
    }
    
    &.community {
      background-color: $rouge;
      background-image: linear-gradient(60deg, $green 15%, $purple 100%);

      // 589 to 660
      @media (min-width:589px) and (max-width: $screen__s) {
        grid-column: span 2;
      }
      

      @media (min-width: $screen__m){
        grid-column: span 2;
      }
      
       @media (min-width: $screen__l) {
        grid-row: span 3;
      }

    }
    
    &.fun-stuff {
      background-color: $yellow;
      background-image: linear-gradient(40deg, $yellow 35%, $beige 100%);
      
    }
    
    &.proud-stuff {
      background-color: $lightpink;
      background-image: linear-gradient(40deg, $orange 15%, $magenta 100%);
      grid-column: 1 / -1;
      
       @media (min-width: $screen__s + 3px) {
        grid-column: 2 / -1;
      }
      
      @media (min-width: $screen__l) {
        grid-column: span 2;
      }
      
    }
  }
}