
.theme{
  &--pastel {
    background-color: $mint;
    background-image: linear-gradient(60deg, $mint 45%, $pink 100%);

    .link {
      background-color: $mint;
    }
  }

  &--blush {
    background-color: $beige;
    background-image: linear-gradient(10deg, $beige 10%, $rouge 100%);
  }

  &--nature {
    background-color: $purple;
    background-image: linear-gradient(60deg, $green 15%, $purple 100%);

    .link {
      background-color: $green ;
    }
  }

  &--bright {
    background-color: $yellow;
    background-image: linear-gradient(40deg, $yellow 35%, $beige 100%);
  }

  &--fire {
    background-color: $lightpink;
    background-image: linear-gradient(40deg, $orange 15%, $magenta 100%);
  }
}