.theme{
  &--pastel {
    .heading {
      background-image: linear-gradient(60deg, $mint 45%, $pink 100%);
    }

    .link {
      background-color: $mint;
    }
  }

  &--blush {
    .heading {
      background-image: linear-gradient(10deg, $beige 10%, $rouge 100%);
    }
  }

  &--nature {
    .heading {
      background-image: linear-gradient(90deg, $purple 15%, $green 100%);
    }

    .link {
      background-color: $green;
    }
  }

  &--bright {

    .heading {
      background-image: linear-gradient(40deg, $yellow 35%, $beige 100%);
    }

    .link {
      background-color: $yellow;
    }
  }

  &--fire {
   
    .heading {
      background-image: linear-gradient(40deg, $orange 15%, $magenta 100%);
    }

    .link {
      background-color: $magenta;
      color: white;
    }
  }
}