@mixin text-gradient{
  background: -webkit-linear-gradient($dir, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme{
  &--pastel {
    .heading {
      background-image: linear-gradient(60deg, $mint 45%, $pink 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .link {
      background-color: $mint;
    }
  }

  &--blush {
    .heading {
      background-image: linear-gradient(10deg, $beige 10%, $rouge 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &--nature {
    .heading {
      background-image: linear-gradient(90deg, $purple 15%, $green 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .link {
      background-color: $green;
    }
  }

  &--bright {
    background-color: $yellow;
    background-image: linear-gradient(40deg, $yellow 35%, $beige 100%);
  }

  &--fire {
    background-color: $lightpink;
    background-image: linear-gradient(40deg, $orange 15%, $magenta 100%);

    .link {
      background-color: $magenta;
      color: white;
    }
  }
}