
// Colours 
$mint: #D2F1E4;
$lightpink: #FBCAEF;
$pink: #F865B0;
$magenta: #E637BF;
$purple: #af73bc;

$blue: #083D77;
$green: #5de292;
$beige: #EBEBD3;
$rouge: #DA4167;
$yellow: #F4D35E;
$orange: #F78764;

$gray: #56494E;
$color-theme-2: #33cccc;
$color--light-grey: #e0e0e0;
$color--fuschia: #eb01a5;
$black: #000;

// Spacing
$indent: 20px;
$indent__xs: 5px;

// Responsive 
$screen__l: 1090px;
$screen__m: 875px;
$screen__s: 660px;
$screen__xs: 400px;