.colour-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 1.8em;
  transition: background-color 0.3s, border 0.5s;
  border-radius: 50%;
  position: absolute;
  right: 0;

  @media (min-width: 1000px) {
    top: 0;
    left: -60px;
    right: auto;
  }

  &:hover,
  &:focus {
    background-color: var(--switch-hover-bg);
    border: 1px solid var(--switch-hover-border);
  }

  &:focus {
    outline: none;
  }
}

.colour-switch__content--light {
  display: none;

  [data-theme="dark"] & {
    display: block;
  }
}

.colour-switch__content--dark {
  display: block;

  [data-theme="dark"] & {
    display: none;
  }
}
