@import url("https://fonts.googleapis.com/css?family=Lato:900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*
  Used for Gradient Hover Effect
 */
@keyframes full-width {
  from {
    width: 1px; }
  to {
    width: 100%; } }

body {
  background: #56494E;
  font-family: 'Lato', sans-serif;
  margin: 0; }

.wrapper {
  width: 90%;
  margin: 50px auto 0;
  background: white;
  padding: 20px;
  box-sizing: border-box; }
  @media (min-width: 660px) {
    .wrapper {
      width: 80%; } }

h3 {
  font-size: 20px;
  line-height: 1.3; }
  @media (min-width: 1090px) {
    h3 {
      font-size: 30px; } }

.link {
  color: #000;
  background-color: #D2F1E4;
  text-decoration: none;
  padding: 0 5px; }
  .link:focus, .link:hover {
    text-decoration: underline; }

p {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif; }

.image {
  width: 100%;
  max-width: 100%; }

.page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 660px) {
    .page__header {
      width: 80%; } }
  .page__header h1, .page__header h2 {
    margin: 0; }
  .home .page__header {
    flex-wrap: wrap;
    margin-top: 20px; }
    .home .page__header h1, .home .page__header h2 {
      color: white; }

.nav__button {
  padding: 60px 20px 20px;
  background: white;
  text-transform: uppercase;
  color: #56494E;
  text-decoration: none;
  position: relative;
  transition: .5s;
  margin-left: 20px;
  text-align: center; }
  @media (min-width: 660px) {
    .nav__button {
      padding-top: 40px; } }
  .community .nav__button {
    padding: 100px 20px 20px; }
    @media (min-width: 510px) {
      .community .nav__button {
        padding-top: 40px; } }
  .nav__button:hover:before, .nav__button:focus:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(60deg, #33cccc 25%, #eb01a5 75%, #e0e0e0 100%);
    mix-blend-mode: screen;
    animation: full-width 1s 1 forwards; }
  .nav__button:hover:after, .nav__button:focus:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(60deg, #33cccc 25%, #eb01a5 75%, #e0e0e0 100%); }
  .nav__button:focus {
    outline: dotted #33cccc 3px; }

.nav__container {
  display: grid;
  min-height: 400px;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }

.nav__item {
  padding: 20px;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: .8s;
  background-size: 200%;
  background-position: center left; }
  .nav__item:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: black;
    transition: .5s; }
  .nav__item:hover {
    background-position: center right; }
    .nav__item:hover:after {
      width: 100%; }
  .nav__item:focus {
    outline: 0; }
  .nav__item:hover:after, .nav__item:focus:after {
    width: 100%; }
  .nav__item.current {
    background-color: #D2F1E4;
    background-image: linear-gradient(60deg, #D2F1E4 15%, #F865B0 100%); }
    @media (min-width: 1090px) {
      .nav__item.current {
        grid-column: span 2;
        grid-row: span 2; } }
  .nav__item.background {
    background-color: #EBEBD3;
    background-image: linear-gradient(10deg, #EBEBD3 10%, #DA4167 100%); }
    @media (min-width: 1090px) {
      .nav__item.background {
        grid-row: span 2; } }
  .nav__item.community {
    background-color: #DA4167;
    background-image: linear-gradient(60deg, #5de292 15%, #af73bc 100%); }
    @media (min-width: 875px) {
      .nav__item.community {
        grid-column: span 2; } }
    @media (min-width: 1090px) {
      .nav__item.community {
        grid-row: span 3; } }
  .nav__item.fun-stuff {
    background-color: #F4D35E;
    background-image: linear-gradient(40deg, #F4D35E 35%, #EBEBD3 100%); }
  .nav__item.proud-stuff {
    background-color: #FBCAEF;
    background-image: linear-gradient(40deg, #F78764 15%, #E637BF 100%);
    grid-column: 1 / -1; }
    @media (min-width: 660px) {
      .nav__item.proud-stuff {
        grid-column: 2 / -1; } }
    @media (min-width: 1090px) {
      .nav__item.proud-stuff {
        grid-column: span 2; } }

.theme--pastel {
  background-color: #D2F1E4;
  background-image: linear-gradient(60deg, #D2F1E4 45%, #F865B0 100%); }

.theme--blush {
  background-color: #EBEBD3;
  background-image: linear-gradient(10deg, #EBEBD3 10%, #DA4167 100%); }

.theme--nature {
  background-color: #DA4167;
  background-image: linear-gradient(60deg, #5de292 15%, #af73bc 100%); }

.theme--bright {
  background-color: #F4D35E;
  background-image: linear-gradient(40deg, #F4D35E 35%, #EBEBD3 100%); }

.theme--fire {
  background-color: #FBCAEF;
  background-image: linear-gradient(40deg, #F78764 15%, #E637BF 100%); }

.about__wrapper {
  display: flex; }
  @media (max-width: 660px) {
    .about__wrapper {
      flex-wrap: wrap; } }
  .about__wrapper img {
    box-shadow: -5px 5px 0 #f3c1cd, -10px 10px 0 #eb96ab; }
  .about__wrapper .images {
    min-width: 300px; }
    @media (min-width: 1090px) {
      .about__wrapper .images {
        min-width: 500px; } }
  .about__wrapper .content {
    margin-left: 20px; }
    .about__wrapper .content p:first-child {
      margin-top: 0; }
    @media (max-width: 660px) {
      .about__wrapper .content {
        margin-top: 20px;
        margin-left: 0; } }
