@import url("https://fonts.googleapis.com/css?family=Lato:900");
body {
  background: #56494E;
  font-family: 'Lato', sans-serif; }

.wrapper {
  width: 80%;
  margin: 50px auto 0;
  background: white;
  padding: 20px;
  box-sizing: border-box; }

h3 {
  font-size: 20px;
  line-height: 1.3; }
  @media (min-width: 1090px) {
    h3 {
      font-size: 30px; } }

.nav__container {
  display: grid;
  min-height: 400px;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }

.nav__item {
  padding: 20px;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: .8s;
  background-size: 200%;
  background-position: center left; }
  .nav__item:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: black;
    transition: .5s; }
  .nav__item:hover {
    background-position: center right; }
    .nav__item:hover:after {
      width: 100%; }
  .nav__item:focus {
    outline: 0; }
  .nav__item:hover:after, .nav__item:focus:after {
    width: 100%; }
  .nav__item.current {
    background-color: #D2F1E4;
    background-image: linear-gradient(60deg, #D2F1E4 15%, #F865B0 100%); }
    @media (min-width: 1090px) {
      .nav__item.current {
        grid-column: span 2;
        grid-row: span 2; } }
  .nav__item.background {
    background-color: #EBEBD3;
    background-image: linear-gradient(10deg, #EBEBD3 10%, #DA4167 100%); }
    @media (min-width: 1090px) {
      .nav__item.background {
        grid-row: span 2; } }
  .nav__item.community {
    background-color: #DA4167;
    background-image: linear-gradient(60deg, #5de292 15%, #af73bc 100%); }
    @media (min-width: 875px) {
      .nav__item.community {
        grid-column: span 2; } }
    @media (min-width: 1090px) {
      .nav__item.community {
        grid-row: span 3; } }
  .nav__item.fun-stuff {
    background-color: #F4D35E;
    background-image: linear-gradient(40deg, #F4D35E 35%, #EBEBD3 100%); }
  .nav__item.proud-stuff {
    background-color: #FBCAEF;
    background-image: linear-gradient(40deg, #F78764 15%, #E637BF 100%);
    grid-column: 1 / -1; }
    @media (min-width: 660px) {
      .nav__item.proud-stuff {
        grid-column: 2 / -1; } }
    @media (min-width: 1090px) {
      .nav__item.proud-stuff {
        grid-column: span 2; } }
