.button-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $black;
  border: 1px solid $black;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  right: 20px;
  overflow: hidden;

  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;

  transform: translateY(120%);
  transition: transform 1s, box-shadow .5s;

  box-shadow: 0px 0px 0px 2px $purple, 0px 0px 0px 4px $yellow;

  .arrow-dot {
    fill: white;
  }

  &__icon {
    width: 100%;
    min-width: 40px; // need this for ios? 
    transform: rotate(90deg);
    transition: transform .8s;
  }

  &.is-active {
    transform: translateY(-10%);

    .button-to-top__icon {
      transform: rotate(-90deg);
    }

    .arrow-dot {
      animation: colours 1.5s 2;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 0px 1px 2px darken($purple, 20%), 
    0px 0px 1px 4px darken($yellow, 20%);

    .arrow-dot {
      animation: colours 1.5s infinite;
    }
  }

}

$elements: 15;
$delay: 0s;
@for $i from 0 to $elements {
  .button-to-top .arrow-dot:nth-child(#{$i + 1}) {
    // Add animation delay that uses the element number to create the animation delay value.
    animation-delay: $delay + $i/50;
  }
}

@keyframes colours {

  0% {
    fill: $rouge;
  }

  20% {
    fill: $orange;
  }

  40% {
    fill: $yellow;
  }

  60% {
    fill: $purple;
  }

  80% {
    fill: $green;
  }

  100% {
    fill: $mint;
  }

}