.image:not(.image-gallery__image) {
  width: 100%;
  max-width: 100%;
}

figure {
  margin: $indent__s;
}

.image-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  &__item {
    scroll-snap-align: start;
    margin: 15px;
  }

  &__image {
   
    @media (min-width: $screen__s){
      max-width: 100%;
    }
    
  }
}

