.image:not(.image-gallery__image) {
  width: 100%;
  max-width: 100%;
}

figure {
  margin: 0;
}

.image {
  margin-top: 15px;
  border: 5px solid;
}

.image-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;

  &__item {
    scroll-snap-align: start;
  

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__image {
   
    @media (min-width: $screen__l) {
      width: 100%;
      height: auto;
    }

  }
}

