
.social-links {
  display: flex;
  align-items: center;
  margin: 30px 0 10px;

  a {
    text-decoration: none;
    display: block;
    margin: 0 10px;

    &:hover,
    &:focus {

      .linkedin {
        fill: #0077B5;
      }

      .twitter {
        fill: #1DA1F2;
      }

      .github{
        fill: #EA4AAA;
      }
      
    }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: $black;

    .dark-mode & {
      fill: white;
    }
  }
}



