.section--first {
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding: calc(var(--indent) * 2) 0 0;
  background: transparent;
  align-items: flex-start;

  h1,
  h2 {
    margin: 0;
    text-shadow: -2px -1px 0 var(--surface);
    z-index: 1;
    padding-left: var(--indent-xs);
    transition: color 0.3s;
  }

  @media (min-width: 1000px) {
    padding: 0;
    flex-direction: row;
    align-items: flex-end;

    h1,
    h2 {
      font-size: 2.5em;
    }
  }
}
