
.dark-mode {
  background: $black;
  color: $color--light-grey;

  h1, h2, h3 {
    color: $color--light-grey;
  }

  .image {
    border: 1px solid $color--light-grey;
  }

  .header h1, .header h2 {
    text-shadow: -2px -1px 0 $darkmode;
  }

  .section--first .section__content {
    box-shadow: 0 -12px 0 0 $darkmode;
    background: $darkmode;

    h3 {
      color: $color--light-grey;
    }
  }

  .section__content {

    .wrapper {
      background: $darkmode;
      box-shadow: 0 -9px 0 0 $darkmode;

      @media (min-width: $screen__l) {
        box-shadow: 0px -12px 0px 0px $darkmode;
      }
    }

    h2 {
      text-shadow: -5px -1px 0px $darkmode;
    }
  }

  .theme {
    &--pastel {
      .section__content {
        background-image: linear-gradient(0deg, $dark-blue 35%, $black 100%);
      }

      .image {
        box-shadow: -5px 5px 0 lighten($dark-blue, 10%),
        -10px 10px 0 $dark-blue;
      }

      .link {
        background-color: lighten($dark-blue, 10%);
        color: white;
      }
    }

    &--nature {
      .section__content {
        background-image: linear-gradient(0deg, $dark-purple 85%, $dark-blue 100%);
      }

      .link {
        background-color: lighten($dark-purple, 10%);
        color: white;
      }
  
      .image {
        box-shadow: -5px 5px 0 lighten($dark-purple, 10%),
        -10px 10px 0 $dark-purple;
      }
    }

    &--bright {

      .section__content {
        background-image: linear-gradient(180deg, $dark-purple 5%, $dark-bloom 50%, $dark-bloom 100%);
      }

      .link {
        background-color: lighten($dark-bloom, 10%);
        color: white;
      }
  
      .image {
        box-shadow: -5px 5px 0 lighten($dark-bloom, 10%),
        -10px 10px 0 $dark-bloom;
      }
    }

    &--fire {
  
      .section__content {
        background-image: linear-gradient(180deg, $dark-bloom 10%, $dark-red 50%, $dark-red 100%);
      }

      .link {
        background-color: lighten($dark-red, 10%);
        color: white;
      }
  
      .image {
        box-shadow: -5px 5px 0 lighten($dark-red, 10%),
        -10px 10px 0 $dark-red;
      }
    }

    &--blush {
      .section__content {
        background-image: linear-gradient(0deg, $dark-pink 40%, $dark-red 100%);
      }

      .link {
        background-color: lighten($dark-pink, 10%);
        color: white;
      }
  
      .image {
        box-shadow: -5px 5px 0 lighten($dark-pink, 10%),
        -10px 10px 0 $dark-pink;
      }
      
    }

  }
}