
.dark-mode {
  background-color: $black;
  color: $color--light-grey;

  h1, h2, h3 {
    color: $color--light-grey;
  }

  .github {
    &--light {
      display: block;
    }

    &--dark {
      display: none;
    }
  }

  .header h1, .header h2 {
    text-shadow: -2px -1px 0 $darkmode;
  }

  .section--first .section__content {
    box-shadow: 0 -12px 0 0 $darkmode;
    background: $darkmode;

    h3 {
      color: $color--light-grey;
    }
  }

  .section__content {

    .wrapper {
      background: $darkmode;
      box-shadow: 0 -9px 0 0 $darkmode;

      @media (min-width: $screen__l) {
        box-shadow: 0px -12px 0px 0px $darkmode;
      }
    }

    h2 {
      text-shadow: -5px -1px 0px $darkmode;
    }
  }

  .theme {
    &--pastel {
      .section__content {
        background-image: linear-gradient(0deg, $dark-blue 35%, $black 100%);
      }

      .image {
        border-image: linear-gradient(to left, lighten($dark-blue, 10%), lighten($dark-blue, 20%)) 1;
      }

      .link {
        background-color: lighten($dark-blue, 10%);
        color: white;
      }
    }

    &--nature {
      .section__content {
        background-image: linear-gradient(0deg, $dark-purple 85%, $dark-blue 100%);
      }

      .link {
        background-color: lighten($dark-purple, 10%);
        color: white;
      }
  
      .image {
        border-image: linear-gradient(to bottom, lighten($dark-purple, 10%), lighten($dark-purple, 20%)) 1;
      }
    }

    &--bright {

      .section__content {
        background-image: linear-gradient(180deg, $dark-purple 5%, $dark-bloom 50%, $dark-bloom 100%);
      }

      .link {
        background-color: lighten($dark-bloom, 10%);
        color: white;
      }
  
      .image {
        border-image: linear-gradient(to bottom, lighten($dark-bloom, 10%), lighten($dark-bloom, 30%)) 1;
      }
    }

    &--fire {
  
      .section__content {
        background-image: linear-gradient(180deg, $dark-bloom 10%, $dark-red 50%, $dark-red 100%);
      }

      .link {
        background-color: lighten($dark-red, 10%);
        color: white;
      }
  
      .image {
        border-image: linear-gradient(to right, lighten($dark-red, 10%), lighten($dark-red, 30%)) 1;
      }
    }

    &--blush {
      .section__content {
        background-image: linear-gradient(0deg, $dark-pink 40%, $dark-red 100%);
      }

      .link {
        background-color: lighten($dark-pink, 10%);
        color: white;
      }
  
      .image {
        border-image: linear-gradient(40deg, lighten($dark-pink, 10%), lighten($dark-pink, 30%)) 1;
      }
      
    }

  }
}