.theme {
  &--pastel {
    .section__content {
      background-image: linear-gradient(0deg, $mint 45%, $color--light-grey 100%);
    }

    .link {
      background-color: $mint;
    }

    .image {
      box-shadow: -5px 5px 0 $mint,
      -10px 10px 0 lighten($pink, 20%);
    }
  }

  &--nature {
    .section__content {
      background-image: linear-gradient(0deg, $purple 15%, $green 60%, $mint 100%);
    }

    .link {
      background-color: $green;
    }

    .image {
      box-shadow: -5px 5px 0 $purple,
      -10px 10px 0 lighten($green, 20%);
    }
  }

  &--bright {

    .section__content {
      background-image: linear-gradient(180deg, $purple 35%, $beige 70%, $yellow 100%);
    }

    .link {
      background-color: $yellow;
    }

    .image {
      box-shadow: -5px 5px 0 $yellow,
      -10px 10px 0 lighten($yellow, 20%);
    }
  }

  &--fire {
   
    .section__content {
      background-image: linear-gradient(180deg, $yellow 15%, $orange 55%, $rouge 100%);
    }

    .link {
      background-color: lighten($orange, 10%);
    }
  }

  &--blush {
    .section__content {
      background-image: linear-gradient(0deg, $beige 30%, $rouge 100%);
    }
  
    .image {
      box-shadow: -5px 5px 0 lighten($rouge, 10%),
      -10px 10px 0 $beige;
    }
  }
}

.background {
  &--yellow {
    @include yellow-gradient;
  }

  &--mint {
    @include mint-gradient;
  }

  &--pastel {
    @include pastel-gradient;
  }

  &--aqua {
    @include aqua-gradient;
  }

  &--pink {
     @include pink-gradient;
  }
}