.theme {
  &--pastel {
    .section__content {
      background-image: linear-gradient(60deg, $mint 45%, $pink 100%);
    }

    .link {
      background-color: $mint;
    }

    .image {
      box-shadow: -5px 5px 0 $mint,
      -10px 10px 0 lighten($pink, 20%);
    }
  }

  &--blush {
    .section__content {
      background-image: linear-gradient(10deg, $beige 10%, $rouge 100%);
    }

    .image {
      box-shadow: -5px 5px 0 lighten($rouge, 10%),
      -10px 10px 0 $beige;
    }
  }

  &--nature {
    .section__content {
      background-image: linear-gradient(90deg, $purple 15%, $green 100%);
    }

    .link {
      background-color: $green;
    }

    .image {
      box-shadow: -5px 5px 0 $purple,
      -10px 10px 0 lighten($green, 20%);
    }
  }

  &--bright {

    .section__content {
      background-image: linear-gradient(40deg, $yellow 35%, $beige 100%);
    }

    .link {
      background-color: $yellow;
    }

    .image {
      box-shadow: -5px 5px 0 $yellow,
      -10px 10px 0 lighten($yellow, 20%);
    }
  }

  &--fire {
   
    .section__content {
      background-image: linear-gradient(40deg, $orange 15%, $magenta 100%);
    }

    .link {
      background-color: lighten($magenta, 30%);
    }
  }
}

.background {
  &--yellow {
    @include yellow-gradient;
  }

  &--mint {
    @include mint-gradient;
  }

  &--pastel {
    @include pastel-gradient;
  }

  &--aqua {
    @include aqua-gradient;
  }

  &--pink {
     @include pink-gradient;
  }
}