.theme {
  &--pastel {
    .page__content {
      background-image: linear-gradient(60deg, $mint 45%, $pink 100%);
    }

    .link {
      background-color: $mint;
    }
  }

  &--blush {
    .page__content {
      background-image: linear-gradient(10deg, $beige 10%, $rouge 100%);
    }
  }

  &--nature {
    .page__content {
      background-image: linear-gradient(90deg, $purple 15%, $green 100%);
    }

    .link {
      background-color: $green;
    }
  }

  &--bright {

    .page__content {
      background-image: linear-gradient(40deg, $yellow 35%, $beige 100%);
    }

    .link {
      background-color: $yellow;
    }
  }

  &--fire {
   
    .page__content {
      background-image: linear-gradient(40deg, $orange 15%, $magenta 100%);
    }

    .link {
      background-color: $magenta;
      color: white;
    }
  }
}

.background {
  &--yellow {
    @include yellow-gradient;
  }

  &--mint {
    @include mint-gradient;
  }

  &--pastel {
    @include pastel-gradient;
  }

  &--aqua {
    @include aqua-gradient;
  }

  &--pink {
     @include pink-gradient;
  }
}