
// Colours 
$mint: #D2F1E4;
$lightpink: #FBCAEF;
$pink: #F865B0;
$purple: #e191f3;
$blue: #083D77;
$green: #5de292;
$beige: #EBEBD3;
$rouge: #f993ac;
$yellow: #F4D35E;
$orange: #F78764;

$darkmode: #191919;
$dark-blue: #061e3e;
$dark-purple: #251e3e;
$dark-bloom: #451e3e;
$dark-red: #651f3e;
$dark-pink: #3e071f;
$dark-green: #073732;
$dark-gray: #222e32;

$color--light-grey: #f1f1f1;
$black: #000;

// Spacing
$indent__l: 30px;
$indent: 20px;
$indent__s: 10px;
$indent__xs: 5px;

//Layout
$wrapper__max-width: 1000px;

// Focus
$focus-outline: 4px dotted $black;
$focus-light-outline: 4px dotted $color--light-grey;

// Responsive 
$screen__l: 1000px;
$screen__m: 875px;
$screen__s: 660px;
$screen__xs: 400px;