//
// Nav : Page Navigation
//

.page__header {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
  padding: $indent__s 0;
  background: white;

  .home & {
    background: transparent;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: $indent__l auto 0;

    h1, h2 {
      margin: 0;
    }
  }

  @media(min-width: $screen__l) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto $indent__l;
    padding: 0;
    border-bottom: 1px solid lighten($gray, 60%);

    .home & {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}