//
// Nav : Page Navigation
//

.page__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: $indent__l auto 0;
  position: relative;
  padding: $indent__s 0;
  background: transparent;
  align-items: flex-start;

  h1, h2 {
    margin: 0;
  }

  @media(min-width: $screen__l) {
  
    padding: 0;
    border-bottom: 1px solid lighten($gray, 60%);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
      font-size: 2em;
    }

  }
}