
//
// Homepage Navigation Grid
//
.nav {

  //
  // Container
  //
  &__container {
    display: grid;
    min-height: 400px;
    margin: 0 auto;
    grid-gap: $indent;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  //
  // Item
  //
  &__item {
    padding: $indent;
    box-sizing: border-box;
    color: $black;
    text-decoration: none;
    position: relative;
    @include gradient-background-properties;

    &:focus {
      outline: $focus-outline
    }

    //
    // After Element
    //
    @media(min-width: $screen__m) {

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 5px;
        background: black;
        transition: .5s;
      }
  
      &:hover {
        &:after {
          width: 100%;
        }
      }

      &:focus {
        &:after {
          width: 100%;
        }
      }
    }

    //
    // Item : Current
    //
    &.current {
      @include mint-gradient;

      @media (min-width: $screen__l) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
    
    //
    // Item : Background
    //
    &.background {
      @include pastel-gradient;

      @media (min-width:589px) and (max-width: $screen__s) {
        grid-column: span 2;
      }

      @media (min-width: $screen__l) {
        grid-row: span 2;
      }
      
    }
    
    //
    // Item : Community
    //
    &.community {
      @include aqua-gradient;

      // 589 to 660
      @media (min-width:589px) and (max-width: $screen__s) {
        grid-column: span 2;
      }
      

      @media (min-width: $screen__m){
        grid-column: span 2;
      }
      
       @media (min-width: $screen__l) {
        grid-row: span 3;
      }

    }
    
    //
    // Item : Fun Stuff
    //
    &.fun-stuff {
      @include yellow-gradient;
    }
    
    //
    // Item : Proud Stuff
    //
    &.proud-stuff {
      @include pink-gradient;
      grid-column: 1 / -1;
      
      @media (min-width: $screen__s + 3px) {
        grid-column: 2 / -1;
      }
      
      @media (min-width: $screen__l) {
        grid-column: span 2;
      }
    }
  }

}