//
// Nav : Sidebar Navigation
//


//
// Nav : Overlay
//
.main-nav-overlay {
  border: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 0;
  display: none;
  transition: background .3s;

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.7);
  }

  .nav-is-open & {
    display: block;
  }
}

//
// Nav : Sidebar
//
.main-nav {
  transform: translateX(400%);
  transition: transform .3s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  min-width: 300px; 
  background: $color--light-grey;
  height: 100%;

  .nav-is-open & {
    transform: translateX(0);
  }

  &__close {
    display: block;
    margin: 0 0 0 auto;
    padding: $indent__s;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 0 $indent__s;
    padding: 0;

    &.home {
      background: white;
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 $indent__s;
    padding: $indent;
    color: $black;

    &:focus {
      outline: $focus-outline;
    }

    &.home {

      // Add Hover Gradient Effect
      &:hover,
      &:focus{
        &:before {
          display: block;
          content:'';
          position:absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
          mix-blend-mode: screen;
          animation: full-width 1s 1 forwards;
        }
      }
    }
  }

}

@media(min-width: $screen__l) {
  .main-nav {
    position: static;
    display: block;
    transform: translateX(0);
    background: transparent;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: $wrapper__max-width;
    height: auto;

    &__close,
    &-toggle {
      display: none;
    }

    &__list {
      display: flex;
      margin: 0;
    }

    &__item {
      background: white;
      flex-grow: 1;
      position: relative;
      margin: $indent__s;
      text-align: center;

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 5px;
        width: 100%;
        background: white;
      }

      &.is-active {
        &:after {
          background: black;
        }
      }
    }

    &__link {
      position: relative;
      padding: $indent__s;

      &:hover {
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          @include pink-gradient;
          mix-blend-mode: screen;
          animation: full-width 1s 1 forwards;
        }
      }

    }

  }
}